@font-face {
    font-family: 'Inter';
    src: url(InterVariable.ttf);
}


body{
    background-color: white;
}


h1{
    font-family: 'Inter';
    font-size: 50px;
    margin-left: 15vw;
}

h2{
    font-family: 'Inter';
    font-size: 30px;
    margin-left: 15vw;
}

p{
    font-family: 'Inter';
    margin-left: 15vw;
    margin-right: 15vw;
}

.copyright{
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
    color: gray
}


iframe{
    margin-left: 15vw;
    width: 70vw;
    height: 1100px;
    border: none;
}


div.menu{
    width: 70vw;
    margin-left: 15vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    font-family: 'Inter';
    font-weight: 600;
    color: white;
    background-color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

a:hover{
    color: black;
    background-color: white;
}

ul{
    margin-left: 15vw;
    font-family: 'Inter';
    font-weight: 600;
}